<!-- Navbar -->

<!-- Contenido del menú con fondo negro e imagen de fondo -->

<div class="container mx-auto px-4 pb-5">
  <!-- Ancla para regresar al menú anterior -->
  <a
    routerLink="/menu-category"
    class="text-red-400 font-playfair hover:text-gray-200 mb-4 mt-8 inline-block"
  >
    &larr; Regresar al menú anterior
  </a>

  <h1 class="text-4xl mb-8 font-playfair">ENTRADAS</h1>

  <!-- Tarjetas de los platillos -->
  <div class="flex flex-col space-y-4">
    <!-- Tarjetas originales de platillos -->
    <div
      *ngFor="let platillo of platillos"
      class="bg-white bg-opacity-5 border-2 border-black p-4 rounded-lg flex items-center cursor-pointer hover:border hover:border-white transition-all duration-300"
      (click)="abrirModal(platillo)"
    >
      <!-- Imagen del platillo con etiqueta -->
      <div class="w-1/2 relative">
        <img
          loading="lazy"
          [src]="platillo.imagen"
          alt="{{ platillo.nombre }}"
          class="w-full h-auto rounded-lg object-cover"
        />

        <!-- Etiqueta del platillo - Posicionamiento responsive -->
        <span
          class="block text-center lg:absolute lg:bottom-2 lg:left-1/2 lg:transform lg:-translate-x-1/2 text-xs px-2 py-1 font-cinzel rounded-full mt-10 lg:mt-0"
          *ngIf="platillo.etiqueta"
          [ngClass]="{
            'bg-green-500': platillo.etiqueta === 'Vegetariano',
            'bg-blue-500': platillo.etiqueta === 'Nuevo',
            'bg-yellow-500 glow-animate': platillo.etiqueta === 'Recomendado',
            'bg-red-500 fire-animate': platillo.etiqueta === 'Mas vendido'
          }"
        >
          {{ platillo.etiqueta }}
        </span>
      </div>

      <!-- Información del platillo -->
      <div class="w-1/2 pl-4">
        <h2 class="text-2xl font-playfair">
          {{ platillo.nombre }}
        </h2>
        <p class="text-black text-sm mt-2 font-lato">
          {{ platillo.descripcion }}
        </p>
        <p class="text-black mt-2 text-sm font-lato">
          {{ platillo.descripcion2 }}
        </p>
        <span class="text-red-400 text-lg font-lato mt-2">{{
          platillo.precio | currency
        }}</span>
      </div>
    </div>

    <!-- Tarjetas con texto en extremos -->
    <div
      *ngFor="let item of items"
      class="bg-white bg-opacity-5 rounded-lg flex justify-between items-center p-2 h-12"
    >
      <!-- Texto a la izquierda -->
      <div class="text-black font-playfair text-lg font-semibold">
        {{ item.textoIzquierda }}
      </div>

      <!-- Texto a la derecha -->
      <div class="text-red-400 text-lg font-semibold font-LORA">
        {{ item.textoDerecha }}
      </div>
    </div>
  </div>
</div>

<!-- Modal para ver los detalles del platillo -->
<div
  *ngIf="platilloSeleccionado"
  class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50"
>
  <div
    class="bg-white p-6 rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/2 max-w-4xl"
  >
    <!-- Contenedor de la imagen con posición relativa -->
    <div class="relative">
      <img
        loading="lazy"
        [src]="platilloSeleccionado.imagen"
        alt="{{ platilloSeleccionado.nombre }}"
        class="w-full h-auto max-h-[80vh] rounded-lg object-cover"
      />

      <!-- Etiqueta posicionada en la esquina superior izquierda -->
      <span
        class="absolute top-2 left-2 text-xs text-white px-2 py-1 rounded-full"
        *ngIf="platilloSeleccionado.etiqueta"
        [ngClass]="{
          'bg-green-500 pulse-animate':
            platilloSeleccionado.etiqueta === 'Vegetariano',
          'bg-blue-500': platilloSeleccionado.etiqueta === 'Nuevo',
          'bg-yellow-500 glow-animate':
            platilloSeleccionado.etiqueta === 'Recomendado',
          'bg-red-500 fire-animate':
            platilloSeleccionado.etiqueta === 'Mas vendido'
        }"
      >
        {{ platilloSeleccionado.etiqueta }}
      </span>
    </div>

    <!-- Botón para cerrar el modal -->
    <button
      (click)="cerrarModal()"
      class="mt-6 px-4 py-2 font-playfair border-2 border-black hover:bg-opacity-30 transition rounded text-black"
    >
      Cerrar
    </button>
  </div>
</div>
