<app-nav-bar></app-nav-bar>
<!-- Contenido del menú con fondo negro e imagen de fondo -->

<div
  class="pt-16 min-h-screen text-white bg-cover bg-center bg-fixed"
  style="background-image: url('/assets/images/bg/bgcategory1.webp')"
>
  <div class="container mx-auto px-4 pb-5">
    <!-- Ancla para regresar al menú anterior -->
    <a
      routerLink="/menu-category"
      class="text-red-400 font-notoserif hover:text-gray-200 mb-4 mt-8 inline-block"
      >&larr; Regresar al menú anterior</a
    >

    <h1 class="text-4xl font-bold mb-8 font-playfair">BEBIDAS / SMOOTHIES</h1>

    <!-- Card principal de pizza -->
    <div
      class="max-w-sm mx-auto bg-white mb-4 bg-opacity-5 rounded-xl shadow-md overflow-hidden md:max-w-2xl"
    >
      <div class="md:flex">
        <div class="p-8">
          <!-- Título y descripción -->
          <h2 class="text-2xl font-playfair text-white text-center">BEBIDAS</h2>

          <!-- Sección de sugerencias -->
          <div class="mt-6">
            <ul
              class="list-disc list-inside text-white font-lato mt-2 space-y-2"
            >
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">REFRESCO</strong>
                <strong>$39.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">TONICOL</strong>
                <strong>$39.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">TÉ DE JAZMIN</strong>
                <strong>$39.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">LIMONADA</strong>
                <strong>$29.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair"
                  >LIMONADA MINERAL</strong
                >

                <strong>$39.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">NARANJADA</strong>
                <strong>$29.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair"
                  >NARANJADA MINERAL</strong
                >
                <strong>$39.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair"
                  >FRESA - LIMON</strong
                >
                <strong>$29.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair"
                  >AGUA EMBOTELLADA</strong
                >
                <strong>$29.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">AGUA MINERAL</strong>
                <strong>$39.00</strong>
              </li>
              <li class="text-2xl list-none py-2 font-playfair text-center">
                JARRAS
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">LIMONADA</strong>
                <strong>$89.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair"
                  >LIMONADA MINERAL</strong
                >
                <strong>$99.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">NARANJADA</strong>
                <strong>$89.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair"
                  >NARANJADA MINERAL</strong
                >
                <strong>$99.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair"
                  >FRESA - LIMóN</strong
                >
                <strong>$99.00</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Card principal de pizza -->
    <div
      class="max-w-sm mx-auto bg-white mb-4 bg-opacity-5 rounded-xl shadow-md overflow-hidden md:max-w-2xl"
    >
      <div class="md:flex">
        <!-- Imagen de la pizza -->
        <div class="md:flex-shrink-0">
          <img
            class="h-48 w-full object-cover md:w-48"
            src="/assets/images/bg-category/bebidas.webp"
            alt="bebidas"
          />
        </div>
        <div class="p-8">
          <!-- Título y descripción -->
          <h2 class="text-2xl font-bold text-white text-center font-playfair">
            SMOOTHIES
          </h2>

          <!-- Sección de sugerencias -->
          <div class="mt-6">
            <ul
              class="list-disc list-inside text-white font-lato mt-2 space-y-2"
            >
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">FRESA</strong>
                <strong>$69.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">DURAZNO</strong>
                <strong>$69.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">PIÑA</strong>
                <strong>$69.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">NARANJA</strong>
                <strong>$69.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">LIMÓN</strong>

                <strong>$69.00</strong>
              </li>
              <li class="space-x-2">
                <strong class="text-red-400 font-playfair">COCO</strong>
                <strong>$75.00</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="text-2xl font-playfair text-center mb-2">EXTRAS</h2>
  <!-- Tarjetas con texto en extremos -->
  <div
    class="bg-white bg-opacity-5 rounded-lg flex justify-between items-center mb-2 p-2 h-12"
  >
    <!-- Texto a la izquierda -->
    <div class="text-white font-playfair text-lg font-semibold">
      SALSA EXTRA
    </div>

    <!-- Texto a la derecha -->
    <div class="text-red-400 text-lg font-semibold font-LORA">$15.00</div>
  </div>
  <!-- Tarjetas con texto en extremos -->
  <div
    class="bg-white bg-opacity-5 rounded-lg flex justify-between items-center p-2 h-12"
  >
    <!-- Texto a la izquierda -->
    <div class="text-white font-playfair text-lg font-semibold">
      PORCION DE POLLO EXTRA
    </div>

    <!-- Texto a la derecha -->
    <div class="text-red-400 text-lg font-semibold font-LORA">$45.00</div>
  </div>
</div>
