<div class="container mx-auto px-4 pb-5">
  <!-- Ancla para regresar al menú anterior -->
  <a
    routerLink="/menu-category"
    class="text-red-400 font-notoserif hover:text-gray-200 mb-4 mt-8 inline-block"
    >&larr; Regresar al menú anterior</a
  >

  <h1 class="text-4xl font-bold mb-8 font-playfair">PIZZAS</h1>

  <!-- Card principal de pizza -->
  <div
    class="max-w-sm mx-auto bg-white border-2 border-black mb-4 bg-opacity-5 rounded-xl shadow-md overflow-hidden md:max-w-2xl"
  >
    <div class="md:flex">
      <!-- Imagen de la pizza -->
      <div class="md:flex-shrink-0">
        <img
          class="h-48 w-full object-cover md:w-48"
          src="/assets/images/bg-category/pizza.webp"
          alt="Pizza"
        />
      </div>
      <div class="p-8">
        <!-- Título y descripción -->
        <h2 class="text-xl font-bold text-black font-playfair">
          Armala a tu gusto
        </h2>
        <p class="text-black font-playfair">Máximo 4 ingredientes</p>
        <p class="text-red-400 text-lg font-lato">$189.00</p>

        <h2 class="text-xl font-bold text-black font-playfair mt-4">
          Pizza Personal
        </h2>
        <p class="text-black font-playfair">Máximo 4 ingredientes</p>
        <p class="text-red-400 text-lg font-lato">$139.00</p>

        <!-- Sección de sugerencias -->
        <div class="mt-6">
          <h3 class="text-2xl font-semibold text-black font-playfair">
            SUGERENCIAS:
          </h3>
          <ul class="list-disc list-inside text-black font-lato mt-2 space-y-1">
            <li>
              <strong class="text-red-400 font-playfair">Hawaiana:</strong>
              Piña y jamón.
            </li>
            <li>
              <strong class="text-red-400 font-playfair">Mexicana:</strong>
              Chilorio, chorizo, jalapeño y aguacate.
            </li>
            <li>
              <strong class="text-red-400 font-playfair">Carnes:</strong>
              Jamón, pepperoni, salchicha y tocino.
            </li>
            <li>
              <strong class="text-red-400 font-playfair">Margarita:</strong>
              Tomate y albahaca.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Tarjetas de los platillos -->
  <div class="flex flex-col space-y-4">
    <div
      *ngFor="let platillo of platillos"
      class="bg-white bg-opacity-5 border-2 border-black p-4 rounded-lg flex items-center cursor-pointer hover:border hover:border-white transition-all duration-300"
      (click)="abrirModal(platillo)"
    >
      <!-- Imagen del platillo con etiqueta -->
      <div class="w-1/2 relative">
        <img
          loading="lazy"
          [src]="platillo.imagen"
          alt="{{ platillo.nombre }}"
          class="w-full h-auto rounded-lg object-cover"
        />

        <!-- Etiqueta del platillo - Posicionamiento responsive -->
        <span
          class="block text-center lg:absolute lg:bottom-2 lg:left-1/2 lg:transform lg:-translate-x-1/2 text-xs px-2 py-1 font-cinzel rounded-full mt-10 lg:mt-0"
          *ngIf="platillo.etiqueta"
          [ngClass]="{
            'bg-green-500': platillo.etiqueta === 'Vegetariano',
            'bg-blue-500': platillo.etiqueta === 'Nuevo',
            'bg-yellow-500 glow-animate': platillo.etiqueta === 'Recomendado',
            'bg-red-500 fire-animate': platillo.etiqueta === 'Mas vendido'
          }"
        >
          {{ platillo.etiqueta }}
        </span>
      </div>

      <!-- Información del platillo -->
      <div class="w-1/2 pl-4">
        <h2 class="text-2xl font-playfair font-semibold">
          {{ platillo.nombre }}
        </h2>
        <p class="text-black text-sm mt-2 font-lato">
          {{ platillo.descripcion }}
        </p>
        <p class="font-playfair">FAMILIAR</p>
        <span class="text-red-400 text-lg font-lato mt-2">
          {{ platillo.precio | currency }}</span
        >
        <br />
        <p class="font-playfair">PERSONAL</p>
        <span class="text-red-400 text-lg font-lato mt-2"
          >{{ platillo.precio2 | currency }}
          <p class="text-white font-lato text-sm">
            {{ platillo.descripcion2 }}
          </p>
        </span>
      </div>
    </div>

    <div class="container mx-auto px-4 py-8">
      <h2 class="text-3xl font-playfair mb-4">Ingredientes</h2>
      <p class="text-black font-semibold text-lg font-playfair mb-2">
        INGREDIENTE EXTRA
        <span class="text-red-400 ml-2 font-lato">$17.00</span>
      </p>
      <ol class="flex list-disc flex-wrap gap-6">
        <li
          *ngFor="let ingrediente of ingredientes"
          class="mb-2 text-lg text-red-400 font-lato"
        >
          {{ ingrediente }}
        </li>
      </ol>
    </div>
  </div>
</div>

<!-- Modal para ver los detalles del platillo -->
<div
  *ngIf="platilloSeleccionado"
  class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50"
>
  <div
    class="bg-white p-6 rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/2 max-w-4xl"
  >
    <!-- Contenedor de la imagen con posición relativa -->
    <div class="relative">
      <img
        loading="lazy"
        [src]="platilloSeleccionado.imagen"
        alt="{{ platilloSeleccionado.nombre }}"
        class="w-full h-auto max-h-[80vh] rounded-lg object-cover"
      />

      <!-- Etiqueta posicionada en la esquina superior izquierda -->
      <span
        class="absolute top-2 left-2 text-xs text-white px-2 py-1 rounded-full"
        *ngIf="platilloSeleccionado.etiqueta"
        [ngClass]="{
          'bg-green-500 pulse-animate':
            platilloSeleccionado.etiqueta === 'Vegetariano',
          'bg-blue-500': platilloSeleccionado.etiqueta === 'Nuevo',
          'bg-yellow-500 glow-animate':
            platilloSeleccionado.etiqueta === 'Recomendado',
          'bg-red-500 fire-animate':
            platilloSeleccionado.etiqueta === 'Mas vendido'
        }"
      >
        {{ platilloSeleccionado.etiqueta }}
      </span>
    </div>

    <!-- Botón para cerrar el modal -->
    <button
      (click)="cerrarModal()"
      class="mt-6 px-4 py-2 font-playfair border-2 border-black hover:bg-opacity-30 transition rounded text-black"
    >
      Cerrar
    </button>
  </div>
</div>
