<!-- Página de Inicio -->
<div
  class="relative h-screen w-screen bg-red-600 overflow-hidden bg-cover bg-center"
>
  <!-- Contenido sobre el fondo negro -->
  <div
    [ngClass]="{
      'opacity-0': !isContentVisible,
      'opacity-100': isContentVisible
    }"
    class="relative z-10 flex flex-col items-center justify-center h-full text-center transition-opacity duration-1000 ease-out transform -translate-y-32"
  >
    <!-- Logo del restaurante sin glow -->
    <img
      src="/assets/images/logo/logo.png"
      alt="Logo del Restaurante"
      class="w-40 h-auto md:w-56 lg:w-72"
    />

    <!-- Contenedor de imágenes adicionales -->
    <div class="flex justify-center gap-4 mt-4">
      <!-- Imagen 1 -->
      <img
        src="/assets/images/logo/del-mar.webp"
        alt="Descripción de la imagen 1"
        class="w-20 h-20 md:w-24 md:h-24 lg:w-32 lg:h-32 rounded-full"
      />
      <!-- Imagen 2 -->
      <img
        src="/assets/images/logo/deli-fusion.webp"
        alt="Descripción de la imagen 2"
        class="w-20 h-20 md:w-24 md:h-24 lg:w-32 lg:h-32 rounded-full"
      />
      <!-- Imagen 3 -->
      <img
        src="/assets/images/logo/deli-oriental.webp"
        alt="Descripción de la imagen 3"
        class="w-20 h-20 md:w-24 md:h-24 lg:w-32 lg:h-32 rounded-full"
      />
    </div>

    <!-- Encabezado principal "MENÚ" con efecto glow en blanco -->
    <h1
      class="text-4xl mt-10 md:text-6xl lg:text-7xl font-playfair text-white menu-glow"
    >
      M E N Ú
    </h1>

    <!-- Descripción en gris claro para menor importancia -->
    <p class="mt-4 text-xl md:text-2xl font-cinzel text-gray-300"></p>

    <!-- Botones con tamaños uniformes -->
    <a
      routerLink="/menu-category"
      class="font-lato mt-8 px-6 py-3 w-48 border-2 border-white text-white bg-transparent rounded-lg text-center hover:bg-white hover:text-black transition"
    >
      Menú Crepa Deli
    </a>
    <a
      routerLink=""
      class="font-lato mt-8 px-6 py-3 w-48 border-2 border-white text-white bg-transparent rounded-lg text-center hover:bg-white hover:text-black transition"
    >
      Menú Deli Mar
    </a>
    <a
      routerLink=""
      class="font-lato mt-8 px-6 py-3 w-48 border-2 border-white text-white bg-transparent rounded-lg text-center hover:bg-white hover:text-black transition"
    >
      Menú Deli Oriental
    </a>
  </div>

  <!-- Overlay oscuro opcional (puedes eliminarlo si el fondo es negro) -->
  <div class="absolute inset-0 bg-black opacity-50 z-0"></div>
</div>
