<nav
  id="navbar"
  [ngClass]="{
    'bg-black  shadow-lg': isScrolled
  }"
  class="fixed top-0 left-0 w-full z-50 transition-all duration-300 overflow-x-hidden"
>
  <div class="container mx-auto px-4 py-2 flex justify-center max-w-full">
    <!-- Logo centrado en pantallas pequeñas, alineado a la izquierda en pantallas grandes -->
    <div class="w-1/3 lg:w-auto lg:flex lg:justify-start">
      <a routerLink="/">
        <img
          src="/assets/images/logo/logo.png"
          alt="Logo"
          class="h-12 md:h-16 lg:h-20 mx-auto lg:ml-0 rounded"
        />
      </a>
    </div>
  </div>
</nav>
